.introducao{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;

}

.introducao h1{

    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.introducao h1::before{
  content: "" ;
  display: block;
  width: 130px;
  height: 100px;
  background: url("../imagem/detalhe.svg");
position: absolute;
 top: -15px;
 left: -40px;
 z-index: -1;

}


@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,500,400italic,500italic,700italic,300italic);

body {
    background: #f7f8f1e7;

    font-family: 'Fira Sans', sans-serif;
}

a {
    color: white;
    padding-top: 20px;
    font-size: 10px;
    opacity: 0.6;
    position: relative;
    top: 10px;
    transition: all 0.3s;
    font-weight: 100;
    text-decoration: none;
}

a:hover {
    opacity: 1;
}

a i.l {
    margin-right: 3px;
}

input {
    display: none;
}

input:checked + label .button_inner {
    background: transparent;
    transform: rotate(90deg);
    width: 100px;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 440px rgba(0, 0, 0, 0);
    animation: finalbox 0.4s 4.42s cubic-bezier(0.39, 2.01, 0.27, 0.75) forwards;
}

input:checked + label .button_inner span.t {
    opacity: 0;
    top: 20px;
}

input:checked + label .button_inner i.l {
    left: 14px;
    opacity: 1;
    top: 11px;
    animation: down 1s 0.25s infinite, final 0.2s 4s forwards;
}

input:checked + label .button_inner .tick {
    position: absolute;
    left: 2px;
    right: 0;
    transform: scale(0) rotate(-90deg);
    color: #00C1FC;
    top: 11px;
    margin: auto;
    font-size: 22px;
    animation: tick 0.3s 4.7s forwards;
}

input:checked + label .button_inner .button_spots {
    opacity: 1;
}

.tick {
    position: absolute;
    left: -40px;
    right: 0;
    transform: scale(0);
    margin: auto;
    font-size: 22px;
}

.button {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 360px;
    width: 200px;
    transform: translateY(-50%);
}

.button h1 {
    font-weight: 100;
    color: white;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
}

.button h2 {
    font-weight: 100;
    color: #00C4FF;
    opacity: 1;
    font-size: 14px;
    margin: 4px 0 0 0;
}

.button_inner {
    border-radius: 2px;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
    font-weight: 100;
    font-size: 12px;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    color: white;
    text-align: center;
    transition: all 0.3s, box-shadow 0.2s, transform 0.2s 0.2s;
}

.button_inner span.t {
    position: relative;
    top: 6px;
    opacity: 1;
    left: -10px;
    transition: left 0.4s 0.1s;
}

.button_inner i.l {
    position: relative;
    left: -19px;
    top: 20px;
    color: #00C4FF;
    font-size: 25px;
    opacity: 0;
    transition: left 0.3s 0s, top 0.3s 0s, opacity 0.3s 0s;
}

.button_inner:hover {
    color: #2C3940;
    background: white;
    box-shadow: 0px 17px 18px -14px rgba(0, 0, 0, 0.08);
}

.button_inner:hover span.t {
    left: 16px;
    transition: left 0.4s;
}

.button_inner:hover i.l {
    top: 12px;
    opacity: 1;
    transition: left 0.3s 0s, top 0.3s 0.1s, opacity 0.3s 0.1s;
}

@keyframes finalbox {
    from {}
    to {
        width: 50px;
    }
}

@keyframes tick {
    from {}
    to {
        transform: scale(1) rotate(-90deg);
    }
}

@keyframes down {
    from {
        left: 10px;
    }
    to {
        left: 57px;
    }
}

@keyframes final {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes spew {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}



@media(max-width: 1000px) {
.introducao h1{
    font-size: 3rem;
}

}



@media(max-width: 500px) {
  .introducao{
    grid-template-columns: 1fr;
  }
 .introducao img {
    display: none;
 }
}